/* Website themes. */
.theme {color:#fff !important; background-color:#000 !important}
.text-theme {color:#fff !important}
.accent-theme {color:#fff !important; background-color:#333 !important}
.text-accent-theme {color:#fff !important}
.content-theme {color:#000 !important; background-color:#f0f0f0 !important}
.text-content-theme {color:#000 !important}

/* Themes for mouse hover.*/
.hover-theme:hover {color:#000 !important; background-color:#000 !important}
.hover-text-theme:hover {color:#000 !important}
.hover-accent-theme:hover {color:#000 !important; background-color:#ccc !important}
.hover-text-accent-theme:hover {color:#000 !important}
.hover-content-theme:hover {color:#fff !important; background-color:#0f0f0f !important}
.hover-text-content-theme:hover {color:#fff !important}
